<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Cars Analytics Dashboard</h1>
    <form action="/" method="post">
        <label for="cycle">Please enter type of period (hours/days/weeks etc):</label><br>
        <input type="text" id="cycle" name="cycle"><br>
        <label for="period">Please enter number for time period:</label><br>
        <input type="text" id="period" name="period"><br><br>
        <button type="submit">GO!</button>
    </form>
</body>
</html>
